canvas {
	border-style: solid;
	border-radius: 2px;
}

button {
    margin-bottom: 5px;
    border-radius: 5px;
} 

#red { 
	background-color: #FF0000;
	padding: 5px 5px;
}

#orange {
	background-color: #FF7F00;
	padding: 5px 5px;
}

#yellow {
	background-color: #FFFF00;
	padding: 5px 5px;
}

#green {
	background-color: #00FF00;
	padding: 5px 5px;
}

#blue {
	background-color: #0000FF;
	padding: 5px 5px;
}

#purple{
	background-color: #9400D3;
	padding: 5px 5px;
}

#black{
	background-color: #000000;
	padding: 5px 5px;
}

#white{
	background-color: #FFFFFF;
	padding: 5px 5px;
}
